
.venv/
.vscode/
.vscode/settings.json

# Python Cache (File sampah otomatis Python)
__pycache__/
*.pyc

# Environment Variables (SANGAT PENTING: Agar API Key tidak bocor)
*.env
files/
files/cookies.txt
files/.env
files/ffmpeg_cache.json

# Folder Output & Log Aplikasi
Temp/
Output/
logs/
*.log
debug.log*

# Aset Besar & Binary (Agar repo tidak berat, user lain harus download sendiri sesuai README)
models/
fonts/
*.ttf
*.exe
*.tflite
